<div>
  <div>
    <h3><%= @recipe.name %></h3>
  </div>
  <div>
    <p>Preparation time:<%= @recipe.preparation_time %>hr</p>
    </div>
    <p>Public: <%= @recipe.public %></p>
    <p>Cooking time: <%= @recipe.cooking_time %>hr</p>
  <div>
    <p><%= @recipe.description %></p>
  </div>
</div
