<section class="container">
  <h2>Add new Recipe Food list</h2>

  <div class="form">
    <%= form_with model: @recipe_food, url: user_recipe_recipe_foods_path,local: true, method: :post, scope: :data do |f| %>
      <p class="field">
        <%= f.label :food_id, class: 'field-label' %>
        <%= f.select :food_id, @foods.collect { |p| [ p.name, p.id ] }, required: true %>
      </p>
      <p class="field">
      <%= f.label :quantity, class: 'field-label' %>
      <%= f.text_field :quantity , required: true, class: 'field-input '%>
      </p>
      
      <p><%= f.submit 'Create Recipe Food', class: "add-food" %></p>
    <% end %>
  </div>
</section>
